<div>
    <img class="img-fluid align-items-center" src="assets/logo.png" alt="100x100">
    <h2 class="m-3 text-center">Time to customize your interests</h2>
    <div class="row align-self-center">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4 m-3">
            <div class="card b4-card" style="width: 18rem; border:0px;">
                <img src="assets/watermelon.png" class="card-img-top rounded-circle shadow-sm bg-white" alt="100x100">
                <div class="card-body" style="align-self: center;">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4 m-3">
            <div class="card" style="width: 18rem; border:0px;">
                <img src="assets/organic.png" class="card-img-top avatar rounded-circle shadow-sm bg-light" alt="100x100">
                <div class="card-body" style="align-self: center;">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4 m-3">
            <div class="card" style="width: 18rem; border:0px;">
                <img src="assets/watermelon.png" class="card-img-top avatar rounded-circle shadow-sm" alt="100x100">
                <div class="card-body" style="align-self: center;">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4 m-3">
            <div class="card" style="width: 18rem; border:0px;">
                <img src="assets/watermelon.png" class="card-img-top avatar rounded-circle shadow-sm" alt="100x100">
                <div class="card-body" style="align-self: center;">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4 m-3">
            <div class="card" style="width: 18rem; border:0px;">
                <img src="assets/watermelon.png" class="card-img-top avatar rounded-circle shadow-sm" alt="100x100">
                <div class="card-body" style="align-self: center;">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4 m-3">
            <div class="card" style="width: 18rem; border:0px;">
                <img src="assets/watermelon.png" class="card-img-top avatar rounded-circle shadow-sm" alt="100x100">
                <div class="card-body" style="align-self: center;">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4 m-3">
            <div class="card" style="width: 18rem; border:0px;">
                <img src="assets/watermelon.png" class="card-img-top avatar rounded-circle shadow-sm" alt="100x100">
                <div class="card-body" style="align-self: center;">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4 m-3">
            <div class="card" style="width: 18rem; border:0px;">
                <img src="assets/watermelon.png" class="card-img-top avatar rounded-circle shadow-sm" alt="100x100">
                <div class="card-body" style="align-self: center;">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 m-3">
            <div class="card" style="width: 18rem; border:0px;">
                <img src="assets/watermelon.png" class="card-img-top avatar rounded-circle shadow-sm" alt="100x100">
                <div class="card-body" style="align-self: center;">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
    </div>
    <button class="btn-primary shadow-sm rounded-circle align-self-center">continue</button>
</div>